body {
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	color: #111;
	background: #DEEFF6;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DEEFF6), to(#fff));
	background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 18px;
}

#top_bar {
	position: fixed;
	background-color: #222;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#111));
	-webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 2px;
	width: 100%;
	height: 40px;
	left: 0px;
	top: 0px;
	color: #FFF;
	font-size: 13px;
}

#top_bar #top_bar_contents {
	max-width: 1120px;
	height:100%;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#top_bar_contents #link_bar {
	float: left;
	position: relative;
}

#top_bar_contents #login_bar {
	float: right;
	position: relative;
}

#top_bar_contents #search_bar {
	position: relative;
	float: left;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 5px;
}

#top_bar_contents #logo {
	padding: 5px;
	position: relative;
	float: left;
}

#top_bar_contents input {

	border-color: black;
	border-width: 1px;
	padding: 6px;
	width: 220px;
	border-radius: 4px;
}

#top_bar ul {
	margin: 0px;
}

#top_bar li {
	max-width: 1120px;
	float:left;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
	padding-bottom: 10px;
	list-style-type: none;
	text-align: center;
}

#top_bar li:hover {
	background-color: rgba(0, 0, 0, 0.80);
}

#top_bar .active{
	background-color: rgba(0, 0, 0, 0.80);
	font-weight: bold;
}

#top_bar a {
	text-decoration: none;
	color: #FFF;
}

#content {
	background: transparent;	
	max-width: 1040px;
	min-width: 1040px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	margin-top: 40px;
	min-height: 800px;
}

#content input, textarea {
	width: 300px;
	font-size:20px;
	background-color: #bbb;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:8px;
}

#content a {
	color: #222;
	font-size: 16px;
	text-decoration: none;
}

#content a:hover {
	text-decoration: underline;
}

#content .section {
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(200, 200, 200, 0.8)), to(rgba(200, 200, 200, 0.6)));
	padding: 15px;
	border-radius: 8px;
}

#content .login_provider  {
	height: 50px;
}

#content .login_provider a {
	font-size: 25px;
}

#content .login_provider img {
	float: left;
	padding-right: 12px;
	height:	50px;
	width:	50px;
}

.profile {
	background-color: #eee;
	margin: 6px;
	padding: 12px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
}

.profile:hover {
	border-style: solid;
	border-width: 2px;
	border-color: rgba(180, 180, 180, 0.8);
}

.pane {
	background-color: #FFF;
	padding: 15px;
	border-radius: 8px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	margin-bottom: 25px;
}

#main_pane {
	width: 75%;
	float:right;
}

#nav_pane {
	width: 17%;
	float:left;
}