%h1 Tell Me More
#intro.profile
	- unless signed_in?
		Login to analyze your Tweets
	- else
		- redirect '/tweets/wizard'
#instructions.profile
	%h1 Screencast
	%p <iframe src="http://player.vimeo.com/video/18501149?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="400" height="300" frameborder="0"></iframe><p><a href="http://vimeo.com/18501149">Tell Me More</a> from <a href="http://vimeo.com/user486867">Chinmay Garde</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
	%p This is an entry for the Heroku/IndexTank Holiday Contest.
#gotchas.profile
	%h1 Gotchas
	%ul
		%li I implemented most of the functionality this morning so there might be some unexpected behavior :)  Send a mail to chinmaygarde [at] gmail [dot] com and I will have it fixed ASAP.
		%li WARNING: I have not added any background processing so the initial indexing of your recent timeline might take some time. Working on fixing this.
#code.profile
	%h1 Implementation Details
	%ul
		%li Built using Sinatra and DataMapper
		%li Authentication using OmniAuth
		%li Search using IndexTank
		%li Hosted on Heroku
	%h1 Get the Code
	%a{:href => "https://github.com/chinmaygarde/tell_me_more"} Fork this project on GitHub
	