%label Search
%br
%input{:id => "searchInput", :type => "text", :width => "100%", :placeholder => "Search"}
%input{:id => "searchSubmit", :type => "submit", :value => "Search", :onClick => "searchTerm()"}
%br
%br
#search_results