- content_for :title do
	"Edit User"
%h1 Edit User Information
%form.profile{:action => "/users/#{@user.id}/update", :method => "post"}
	%p
		%label Email
		%br
		%input{:type => "text", :name => "email", :placeholder => "email", :value => "#{@user.email if @user.email}"}
	%p
		%label Image URL
		%br
		%input{:type => "text", :name => "image_url", :placeholder => "Image URL", :value => "#{gravatar(@user, 64)}"}		
	%p
		%input{:type => "submit", :value => "Update Profile"}
%hr
%h3 Authentication methods in use
- @user.authentications.each do |auth|
	.auth.profile= auth.provider